In [12]:
import numpy as np # v 1.21.5
import sklearn # v 0.0
import pandas as pd # v 1.4.2
import ydata_profiling as pp # v 4.5.1
import matplotlib.pyplot as plt # v 3.5.1
import statsmodels.api as sm # v.0.13.2
import sweetviz as sv

from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import precision_score 
from sklearn.metrics import recall_score
from sklearn import metrics 
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis 
from sklearn.utils import resample
from imblearn import SMOTE

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv("/Users/heidibeardsley/Downloads/loan_default_data_set.csv")

In [5]:
by_class = df.groupby('Def_ind')
defaulted = by_class.get_group(1)
not_defaulted = by_class.get_group(0)

In [6]:
defaulted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 14 to 19998
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tot_balance                      2000 non-null   float64
 1   avg_bal_cards                    2000 non-null   float64
 2   credit_age                       2000 non-null   int64
 3   credit_age_good_account          2000 non-null   int64
 4   credit_card_age                  2000 non-null   int64
 5   num_acc_30d_past_due_12_months   2000 non-null   int64
 6   num_acc_30d_past_due_6_months    2000 non-null   int64
 7   num_mortgage_currently_past_due  2000 non-null   int64
 8   tot_amount_currently_past_due    2000 non-null   float64
 9   num_inq_12_month                 2000 non-null   int64
 10  num_card_inq_24_month            2000 non-null   int64
 11  num_card_12_month                2000 non-null   int64
 12  num_auto_ 36_month               2000 non-null   int64
 13  uti_open_card                    2000 non-null   float64
 14  pct_over_50_uti                  2000 non-null   float64
 15  uti_max_credit_line              2000 non-null   float64
 16  pct_card_over_50_uti             1834 non-null   float64
 17  ind_XYZ                          2000 non-null   int64
 18  rep_income                       1845 non-null   float64
 19  rep_education                    2000 non-null   object
 20  Def_ind                          2000 non-null   int64
dtypes: float64(8), int64(12), object(1)
memory usage: 343.8+ KB

In [7]:
not_defaulted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18000 entries, 0 to 19999
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tot_balance                      18000 non-null  float64
 1   avg_bal_cards                    18000 non-null  float64
 2   credit_age                       18000 non-null  int64
 3   credit_age_good_account          18000 non-null  int64
 4   credit_card_age                  18000 non-null  int64
 5   num_acc_30d_past_due_12_months   18000 non-null  int64
 6   num_acc_30d_past_due_6_months    18000 non-null  int64
 7   num_mortgage_currently_past_due  18000 non-null  int64
 8   tot_amount_currently_past_due    18000 non-null  float64
 9   num_inq_12_month                 18000 non-null  int64
 10  num_card_inq_24_month            18000 non-null  int64
 11  num_card_12_month                18000 non-null  int64
 12  num_auto_ 36_month               18000 non-null  int64
 13  uti_open_card                    18000 non-null  float64
 14  pct_over_50_uti                  18000 non-null  float64
 15  uti_max_credit_line              18000 non-null  float64
 16  pct_card_over_50_uti             16208 non-null  float64
 17  ind_XYZ                          18000 non-null  int64
 18  rep_income                       16596 non-null  float64
 19  rep_education                    17999 non-null  object
 20  Def_ind                          18000 non-null  int64
dtypes: float64(8), int64(12), object(1)
memory usage: 3.0+ MB

In [15]:
defaulted_upsampled = resample(defaulted,random_state=7,n_samples=16000,replace=True)
df_defaulted_upsampled = pd.concat([defaulted_upsampled,defaulted])

In [16]:
df_defaulted_upsampled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18000 entries, 1855 to 19998
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tot_balance                      18000 non-null  float64
 1   avg_bal_cards                    18000 non-null  float64
 2   credit_age                       18000 non-null  int64
 3   credit_age_good_account          18000 non-null  int64
 4   credit_card_age                  18000 non-null  int64
 5   num_acc_30d_past_due_12_months   18000 non-null  int64
 6   num_acc_30d_past_due_6_months    18000 non-null  int64
 7   num_mortgage_currently_past_due  18000 non-null  int64
 8   tot_amount_currently_past_due    18000 non-null  float64
 9   num_inq_12_month                 18000 non-null  int64
 10  num_card_inq_24_month            18000 non-null  int64
 11  num_card_12_month                18000 non-null  int64
 12  num_auto_ 36_month               18000 non-null  int64
 13  uti_open_card                    18000 non-null  float64
 14  pct_over_50_uti                  18000 non-null  float64
 15  uti_max_credit_line              18000 non-null  float64
 16  pct_card_over_50_uti             16519 non-null  float64
 17  ind_XYZ                          18000 non-null  int64
 18  rep_income                       16619 non-null  float64
 19  rep_education                    18000 non-null  object
 20  Def_ind                          18000 non-null  int64
dtypes: float64(8), int64(12), object(1)
memory usage: 3.0+ MB

In [18]:
df_oversampled = pd.concat([df_defaulted_upsampled,not_defaulted])
df_oversampled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36000 entries, 1855 to 19999
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tot_balance                      36000 non-null  float64
 1   avg_bal_cards                    36000 non-null  float64
 2   credit_age                       36000 non-null  int64
 3   credit_age_good_account          36000 non-null  int64
 4   credit_card_age                  36000 non-null  int64
 5   num_acc_30d_past_due_12_months   36000 non-null  int64
 6   num_acc_30d_past_due_6_months    36000 non-null  int64
 7   num_mortgage_currently_past_due  36000 non-null  int64
 8   tot_amount_currently_past_due    36000 non-null  float64
 9   num_inq_12_month                 36000 non-null  int64
 10  num_card_inq_24_month            36000 non-null  int64
 11  num_card_12_month                36000 non-null  int64
 12  num_auto_ 36_month               36000 non-null  int64
 13  uti_open_card                    36000 non-null  float64
 14  pct_over_50_uti                  36000 non-null  float64
 15  uti_max_credit_line              36000 non-null  float64
 16  pct_card_over_50_uti             32727 non-null  float64
 17  ind_XYZ                          36000 non-null  int64
 18  rep_income                       33215 non-null  float64
 19  rep_education                    35999 non-null  object
 20  Def_ind                          36000 non-null  int64
dtypes: float64(8), int64(12), object(1)
memory usage: 6.0+ MB

In [19]:
not_defaulted_downsampled = resample(not_defaulted,random_state=7,n_samples=2000,replace=True)
not_defaulted_downsampled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 18805 to 1111
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tot_balance                      2000 non-null   float64
 1   avg_bal_cards                    2000 non-null   float64
 2   credit_age                       2000 non-null   int64
 3   credit_age_good_account          2000 non-null   int64
 4   credit_card_age                  2000 non-null   int64
 5   num_acc_30d_past_due_12_months   2000 non-null   int64
 6   num_acc_30d_past_due_6_months    2000 non-null   int64
 7   num_mortgage_currently_past_due  2000 non-null   int64
 8   tot_amount_currently_past_due    2000 non-null   float64
 9   num_inq_12_month                 2000 non-null   int64
 10  num_card_inq_24_month            2000 non-null   int64
 11  num_card_12_month                2000 non-null   int64
 12  num_auto_ 36_month               2000 non-null   int64
 13  uti_open_card                    2000 non-null   float64
 14  pct_over_50_uti                  2000 non-null   float64
 15  uti_max_credit_line              2000 non-null   float64
 16  pct_card_over_50_uti             1799 non-null   float64
 17  ind_XYZ                          2000 non-null   int64
 18  rep_income                       1829 non-null   float64
 19  rep_education                    2000 non-null   object
 20  Def_ind                          2000 non-null   int64
dtypes: float64(8), int64(12), object(1)
memory usage: 343.8+ KB

In [21]:
df_undersampled = pd.concat([not_defaulted_downsampled,defaulted])
df_undersampled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 18805 to 19998
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tot_balance                      4000 non-null   float64
 1   avg_bal_cards                    4000 non-null   float64
 2   credit_age                       4000 non-null   int64
 3   credit_age_good_account          4000 non-null   int64
 4   credit_card_age                  4000 non-null   int64
 5   num_acc_30d_past_due_12_months   4000 non-null   int64
 6   num_acc_30d_past_due_6_months    4000 non-null   int64
 7   num_mortgage_currently_past_due  4000 non-null   int64
 8   tot_amount_currently_past_due    4000 non-null   float64
 9   num_inq_12_month                 4000 non-null   int64
 10  num_card_inq_24_month            4000 non-null   int64
 11  num_card_12_month                4000 non-null   int64
 12  num_auto_ 36_month               4000 non-null   int64
 13  uti_open_card                    4000 non-null   float64
 14  pct_over_50_uti                  4000 non-null   float64
 15  uti_max_credit_line              4000 non-null   float64
 16  pct_card_over_50_uti             3633 non-null   float64
 17  ind_XYZ                          4000 non-null   int64
 18  rep_income                       3674 non-null   float64
 19  rep_education                    4000 non-null   object
 20  Def_ind                          4000 non-null   int64
dtypes: float64(8), int64(12), object(1)
memory usage: 687.5+ KB